:root{
    --shadow :  0px 20px 40px #c9c9c92d;
    --shadow-hard: 0px 10px 79px 20px rgba(179, 182, 185, 0.356);
    --shadow-soft : 10px 0px 50px -30px #4264889c;
    --shadow-btn: 5px 5px 20px -11px #56628f2c;

    --p-size: 1.1rem;
    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1rem;
    --h4-size: 1rem;
    --list-size: 1.1rem;
    --btn-label-size: inherit;

    --p-weight: 400;
    --list-weight: 400;
    --h1-weight: 800;
    --h2-weight: 800;
    --h3-weight: 600;
    --h4-weight: 600;
    --btn-label-weight: 500;
  
    --text-color: #142149;
    --text-color-light: #142149cc;
    --text-color-dark: #050913;
    --text-color-error: #ff4e4e;

    /* --light-blue: #f9f9ff; */
    --light-blue: #ebf3f5;
    /* --light-silver: #ebecee; */
    --light-silver: #f1f3f4;
    --error-color: #ff000014;

    --main-color : #00b568;; 
    --secondary-color: #fff9f1;
    --secondary-color: #fbefdf;

    --border-radius : 100px;

    --modal-bk-color: #2a2b2ebf;
  
  }