/* 
=======================================================
START: Article
=======================================================
*/
.av-article-v1{
    padding: 5rem 0rem;
    background: transparent;
    position: relative;
}

.av-article-v1 .container{
    display: grid;
    grid-template-columns: .8fr 1fr;
    align-items: center;
    column-gap: 2rem;
}

.av-article-v1 .container section{
    z-index: 1;
}

.av-article-v2{
    padding: 5rem 0rem;
}

.av-article-v2 .container{
    width: 100%;
    max-width: 1658px;
    display: grid;
    grid-template-columns: .6fr 1fr;
    justify-content: center;
    /* border: 4px solid blue; */
}

.av-article-v2 .container figure{
    justify-self: flex-end;
    max-width: 1500px;
    /* border: 4px solid red; */
}

.av-article-v2 .container section{
    padding: 0rem 4rem;
    justify-self: center;
    /* border: 4px solid green; */
}
/* 
=======================================================
END: 
=======================================================
*/
/* 
=======================================================
START: COLUMNS
=======================================================
*/
.columns-reverse .container {
    grid-template-columns: 1fr .6fr ;
}

.columns-reverse .container figure{
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 1;
    max-width: 1500px;
}

.columns-reverse .container section{
    padding: 0rem 6rem;
    padding-left: 2rem;
}


.column-1x .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.column-1x-center .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}

.column-3x-center .container{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    text-align: center;
}

.column-2x .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-3x .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column-4x .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column-top .container{
    align-items: flex-start;
}

.column-1x-3x-center .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.column-1x-3x-center .container section:nth-child(1){
    grid-column: 1 / 4;
    justify-self: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

}

.column-1x-3x-center .container section {
    text-align: center;
    padding: 2rem;
    padding-top: 3rem;
}
/* 
=======================================================
END: 
=======================================================
*/

/* 
=======================================================
START: content
=======================================================
*/
.center-content p{
    max-width: 700px !important;
}

/* .center-content .container{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
} */

.center-content .container section{
     display: flex;
     flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content-top-vertical div section{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    text-align: center;
}

.content-top div section{
    align-self: flex-start;
}