/* 
=======================================================
START: UTIL
=======================================================
*/
 li{
    list-style: none;
 }

 a{
    text-decoration: none;
    color: inherit;
 }

 h1{
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  margin-bottom: 2rem;
  max-width: 1000px;
}

 h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
   margin-bottom: 1rem;
   max-width: 400px;
   line-height: 1.3;
 }


 h3{
  font-weight: var(--h3-weight);
   margin-bottom: .9rem;
   font-size: var(--h3-size);
  
 }

 h4{
  font-weight: var(--h4-weight);
  font-size: var(--h4-size);
   margin-bottom: 1rem;
 }

 p,legend, label{
   margin-bottom: 1rem;
   line-height: 1.7;
   max-width: 500px;
   font-weight: var(--p-weight);
   color: var(--text-color-light);
   font-size: var(--p-size);
 }

 ul li, ul li a{
  font-size:  var(--list-size);
  font-weight: var(--list-weight);
 }

 label{
  font-weight: var(--label-weight);
  color: var(--text-color);
 }

 button{
  border: none;
  border-radius:  var(--border-radius);
  padding: .7rem 1.5rem;
  font-weight: var(--btn-label-weight);
  background: var(--main-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-label-size);
}

 form{
  width: 100%;
   max-width: 670;
 }
 form legend{
   margin-bottom: 2rem;
 }

 form fieldset{
   margin-bottom: 1.5rem;
 }

 form fieldset label{
   margin-bottom: .3rem;
   display: block;
 }

 form input{
   width: 100%;
 }

 form button{
   margin-top: .5rem;
   width: 100%;
   padding: 1.2rem 0rem !important
 }

 input, textarea{
   border: none;
   outline: none;
   padding: 1rem .7rem;
   border-radius: 0px;
   background: #f1f3f4;
 }

 form textarea{
   width: 100%;
   height: 100px;
 }

 fieldset{
   border: none;
 }

/* 
=======================================================
END: UTIL
=======================================================
*/