/* 
=======================================================
START: UTIL
=======================================================
*/
 li{
    list-style: none;
 }

 a{
    text-decoration: none;
    color: inherit;
 }

 h1{
  font-size: 4rem;
  margin-bottom: 1rem;
  max-width: 1000px;
}

 h2{
   font-size: 3rem;
   margin-bottom: 1rem;
   /* max-width: 600px; */
   line-height: 1.3;
 }


 h3{
   font-weight: 600;
   margin-bottom: .9rem;
   font-size: .9rem;
  
 }

 h4{
  font-size: 1.3rem;
   margin-bottom: 1rem;
 }

 p,legend, label{
   margin-bottom: 1rem;
   line-height: 1.7;
   max-width: 500px;
   font-weight: 500;
   color: var(--text-color-light);
 }

 label{
  font-weight: 450;
  color: var(--text-color);
 }

 form{
  width: 100%;
   max-width: 670;
 }
 form legend{
   margin-bottom: 2rem;
 }

 form fieldset{
   margin-bottom: 1.5rem;
 }

 form fieldset label{
   margin-bottom: .3rem;
   display: block;
 }

 form input{
   width: 100%;
 }

 form button{
   margin-top: .5rem;
   width: 100%;
   padding: 1.2rem 0rem !important
 }

 input, textarea{
   border: none;
   outline: none;
   padding: 1rem .7rem;
   border-radius: 0px;
   background: #f1f3f4;
 }

 form textarea{
   width: 100%;
   height: 100px;
 }

 fieldset{
   border: none;
 }

/* 
=======================================================
END: UTIL
=======================================================
*/