/* 
=======================================================
START: Button
=======================================================
*/

.main-btn{
    position: relative;
    background: var(--main-color);
    border: none;
    color: white ;
    transition: .3s ease-in-out;
}

.main-btn:hover{
    background: #f24a89;
}

.secondary-btn{
    position: relative;
    background: var(--light-blue);
    border: 1px solid var(--light-silver);
    color: var(--dark-text);
    transition: .3s ease-in-out;
}

.secondary-btn:hover{
    background: black;
    color: white;
}

.btn-container{
    display: flex;
    gap: 1rem;
}


/* 
=======================================================
END:
=======================================================
*/
/* 
=======================================================
START: Active Button Style
=======================================================
*/
.av-active{
    border-bottom: 2px solid var(--main-color) !important;
    color: var(--main-color);
}
/* 
=======================================================
END:
=======================================================
*/