.logo{
    font-weight: 1000;
    color: var(--main-color);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.window{
    background: white;
    border-radius : var(--border-radius);
    box-shadow : var(--shadow);
    width: 100%;
    max-width: 670px;
    margin: auto;
    padding: 3rem;
}

.register-form p{
    margin-bottom: 3rem;
}

.register-form button{
   margin: 2rem 0rem;
   margin-top: 3.5rem;
}

.member-login-text a{
    color: blue;
    text-decoration: underline;
}

.logo{
    color: var(--main-color);
}

.hero{
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.how-it-work .container section figure{
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.how-it-work .container section figure img{
    width: 60%;
}

.how-it-work .container section:nth-child(1) figure{
     background-color: #fb6d4d;
}

.how-it-work .container section:nth-child(2) figure{
    background-color: #ebf3f5;
}

.how-it-work .container section:nth-child(3) figure{
    background-color: #2a6eca;
}

