.logo{
    font-weight: 1000;
    color: var(--main-color);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.window{
    background: white;
    border-radius : var(--border-radius);
    box-shadow : var(--shadow);
    width: 100%;
    max-width: 670px;
    margin: auto;
    padding: 3rem;
}

.register-form p{
    margin-bottom: 3rem;
}

.register-form button{
   margin: 2rem 0rem;
   margin-top: 3.5rem;
}

.member-login-text a{
    color: blue;
    text-decoration: underline;
}

.logo{
    color: var(--main-color);
}